* {
    margin: 0;
}

.input_sheet {    
    display: block;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: black solid 2px;
    border-radius: 5px;
    font-size: 25px;
    word-break: break-word;
    overflow: auto;

}
.keyboarder_wrapper {
    width: 862px;
    margin: 0 auto;
    background-color: grey;
}
.row {
    display: flex;
    flex-shrink: 0;
}

.item {
    height: 50px;
    width: 50px;
    background-color:#ffda8f;
    margin: 3px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;    
}
 
.item:hover {
    background-color:#d1ab60;
}

.clickBtn {
    background-color:#d1ab60;
    border-radius: 20px;
    font-size: 20px;
}  

.clickBtnCape {
    background-color:#d1ab60;
    border-radius: 20px;
    font-size: 20px;   
}

#Backspace { 
    width: 125px;
}

#Tab, #Delete { 
    width: 60px;
}

#CapsLock, #Enter, #ShiftLeft, #ShiftRight { 
    width: 117px;
}

#ControlRight { 
    width: 57px;
}

#Space {
    width: 397px;
}

